{% extends "base.html" %}
{% block content %}
<h1> Consultar Conta </h1>

{% if erro %}
  <p class="msg-erro">{{ erro }}</p>
{% endif %}

{% if conta %}
  <p><b>Nome:</b> {{ conta[0] }}</p>
  <p><b>CPF:</b> {{ conta[1] }}</p>
  <p><b>Saldo:</b> R$ {{ conta[2] }}</p>
  <a href="/"><button>Voltar</button></a>
  <a href="/pix"><button>Fazer PIX</button></a>
{% else %}
  <form method="POST">
    <input type="number" name="id" placeholder="ID da Conta" required>
    <input type="text" name="cpf" placeholder="CPF" required>
    <input type="password" name="senha" placeholder="Senha" required>
    <button type="submit">Consultar</button>
  </form>
  <a href="/">Voltar</a>
{% endif %}
{% endblock %}
